.comment-form textarea {
  width: 100%;
  max-width: 100%; /* Asegura que no exceda el tamaño del contenedor */
  height: 100px;
  padding: 10px;
  border: 1px solid #8f8f8f;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}
.comment-form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1877f2; /* Color de fondo azul de Facebook */
  color: white;
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Fuente en negritas */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación de transición */
}

.comment-form button:hover {
  background-color: #165db6; /* Color del botón al pasar el cursor */
}

.comment-form button:disabled {
  background-color: #6ca0e4;
  cursor: not-allowed; /* Cursor no permitido */
}
