.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #969696;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Esto ayudará a manejar cualquier desbordamiento */
}

.logout-button {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.logout-button:hover {
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  transform: scale(1.1);
}

.logout-button:active {
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
